<?xml version="1.0"?>
<launch>

  <arg name= "urdf" default="$(find navier_wamv)/navier_wamv.urdf"/>

  <!-- Start Gazebo with the world file -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="verbose"      value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless"     value="false" />
    <arg name="gui"          value="false" />
  </include>


  <!-- Spawn model in Gazebo -->
  <node name="spawn_wamv" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find navier_wamv)/navier_wamv.sdf
              -sdf 
              -z 1
              -model wamv"/>

  <!-- spawn sydney regatta -->
  <node name="spawn_sydney" pkg="gazebo_ros" type="spawn_model"
        args="-file /workspaces/sandbox_vrx/vrx_navier/src/vrx/vrx_gazebo/models/sydney_regatta/model.sdf
              -sdf 
              -model sydney_regatta"/>

  
  <param name = "robot_description" command="$(find xacro)/xacro --inorder '$(arg urdf)'"/>
  <node ns="wamv" pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub"/>

</launch>
